<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732870131391-qtohgaubl31u7o5ba0ntni7pr8ast6ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732870131391-qtohgaubl31u7o5ba0ntni7pr8ast6ev</string>
	<key>API_KEY</key>
	<string>AIzaSyA6OlWmHB5UpGJG2i0q_l_SI8EBgWggBDw</string>
	<key>GCM_SENDER_ID</key>
	<string>732870131391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autorola-assignment</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-75c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-75c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732870131391:ios:0380ceb48059e3843c100a</string>
</dict>
</plist>